[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=/usr/sbin/configure-ndiswrapper

Icon=sidux-ndiswrapper
Name[de]=Ndiswrapper konfigurieren
Name[es]=Configuración de la Ndiswrapper
Name=ndiswrapper configuration
Comment[de]=Ndiswrapper konfigurieren
Comment[es]=Configuración de la Ndiswrapper

Categories=sidux;Net

