#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk


install/configure-ndiswrapper::
	mkdir -p debian/configure-ndiswrapper/usr/share/pixmaps
	convert icons/hicolor/32x32/apps/sidux-ndiswrapper.png \
		debian/configure-ndiswrapper/usr/share/pixmaps/configure-ndiswrapper.xpm
	convert icons/hicolor/16x16/apps/sidux-ndiswrapper.png \
		debian/configure-ndiswrapper/usr/share/pixmaps/configure-ndiswrapper-16.xpm
